In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score

In [2]:
cd /

C:\

In [3]:
cd Penn State\Projects\bank

C:\Penn State\Projects\bank

In [4]:
train = pd.read_csv('Bank_preprocessed_3.csv', index_col = 0)

In [6]:
train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,y
0,58,4,1,2,0,2143,1,0,0,5,8,261,1,1,0,0
1,44,9,2,1,0,29,1,0,0,5,8,151,1,1,0,0
2,33,2,1,1,0,2,1,1,0,5,8,76,1,1,0,0
5,35,4,1,2,0,231,1,0,0,5,8,139,1,1,0,0
6,28,4,2,2,0,447,1,1,0,5,8,217,1,1,0,0

In [7]:
train.shape

(43193, 16)

In [8]:
y_train = train['y']
x_train = train.drop(columns=['y'])

#Ensure Numpy array
x_train = np.array(x_train)
y_train = np.array(y_train)

# Train and Test set
x_train, x_test, y_train, y_test = train_test_split(x_train,y_train, test_size=0.33, random_state=125)

In [9]:
x_train.shape

(28939, 15)

In [10]:
y_train.shape

(28939,)

In [11]:
# Max Depth
mx_dp = [i for i in range(5, 1001, 5)]
mn_samples = [i for i in range(2,11)]
# Decisin Tree Parameters
params_dt = {'max_depth' : mx_dp, 'min_samples_split' : mn_samples}

ftwo_scorer = make_scorer(fbeta_score, beta=2)
grid_dt = GridSearchCV(estimator = DecisionTreeClassifier(),
                       param_grid = params_dt,
                       scoring = ftwo_scorer,
                       cv = 10,
                        n_jobs = -1)
grid_dt.fit(x_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'max_depth': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295,...5, 960, 965, 970, 975, 980, 985, 990, 995, 1000], 'min_samples_split': [2, 3, 4, 5, 6, 7, 8, 9, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=make_scorer(fbeta_score, beta=2), verbose=0)

In [12]:
grid_dt.best_score_

0.45770121124154384

In [13]:
grid_dt.best_params_

{'max_depth': 880, 'min_samples_split': 2}

In [14]:
# Decsion Tree

dt = DecisionTreeClassifier(max_depth=675, min_samples_split=2)
dt.fit(x_train, y_train)

y_test_pred = dt.predict(x_test)

Test_fbeta = fbeta_score(y_test, y_test_pred, beta=2)

Test_recall = recall_score(y_test, y_test_pred)

Test_accuracy = accuracy_score(y_test, y_test_pred)

print ('Cross-validation F2:', grid_dt.best_score_)
print ('Test  F2:', Test_fbeta)
print ('-----------------')

print ('Test Recall:', Test_recall)
print ('-----------------')
print ('Test Accuracy:', Test_accuracy)

Cross-validation F2: 0.45770121124154384
Test  F2: 0.44680594131143575
-----------------
Test Recall: 0.4514948139109213
-----------------
Test Accuracy: 0.8678265749964922